html{
    font-family:'Roboto', sans-serif;
    box-sizing: border-box;
    width: auto;
    height: 100%;
}

body{
    margin: 0 auto;
    height: 100vh;
}
h1 {
    margin-top: 0;
    text-align: center;
    padding: 2vh;
    border-bottom: 2px solid black;
    background-color: #25D366;
    box-shadow: 0px 0px 4px black;

}

header{
    text-align: center;
}

header > h2 {
    font-weight: 500;
}

header > h5 {
    font-weight: 500;
}

main{
    margin: 0 auto;
}

input{
    margin: auto;
    display: block;
}

form{
    margin: 0 auto;
    text-align: center;
    width: 300px;
}

.options{
    display: flex;
}

.titulo-1{
    display: none;
    padding: 0.5vw;
    text-align: center;
    margin-bottom: 0;
    margin-top: 5vh;
    border-top: 2px solid black;
    background-color: #25D366;
}

.obs{
    text-align: center;
    margin: 5vh;
}

#output, #output2{
    display: none;
    text-align: center;
    list-style-position: inside;
    background-color: #dcf8c6;
    padding: 3vh 0 3vh;
    border-top: 2px solid black;
    margin: 0 auto;
}

#output > li:first-child::after{
    content: " 🥇";
}

#output > li:nth-child(2)::after{
    content: " 🥈";
}

#output > li:nth-child(3):after{
    content: " 🥉";
}

#output2 > li:first-child::after{
    content: " 🥇";
}

#output2 > li:nth-child(2)::after{
    content: " 🥈";
}

#output2 > li:nth-child(3):after{
    content: " 🥉";
}

li{
    margin-bottom: 0.5vh;
}

.titulo-2{
    display: none;
    margin: 0;
    padding: 0.5vw;
    text-align: center;
    border-top: 2px solid black;
    background-color: #25D366;
}

.ultima-msg{
    text-align: center;
}

.instrucoes{
    display: grid;
    grid-template-columns: 100px 542px;
    grid-auto-rows: 50px;
    margin: 2vh auto;
    justify-content: center;
}

.instrucoes2{
    display: none;
    grid-template-columns: 100px 542px;
    grid-auto-rows: 50px;
    margin: 2vh auto;
    justify-content: center;
}

.numero{
    border: 2px solid black;
    border-bottom: 0;
    text-align: center;
    font-size: 40px;
}
.numero:first{
    border-bottom: 2px solid black;
}

.guia{
    font-size: 20px;
    background-color: #ece5dd;
    border: 2px solid black;
    border-left: 0;
    border-bottom: 0;
    padding: 2%;
    text-align: left;
    vertical-align: middle;
}
.guia:first{
    border-bottom: 2px solid black;
}

.guia:last-child{
    border-bottom: 2px solid black;
}

.numero-fim{
    border: 2px solid black;
    text-align: center;
    font-size: 40px;
}



@media (max-width: 600px) {
    main{
        width: 100%;
    }

    header{
        margin: 0 4vw;
        text-align: left;
    }
    form{
        margin: 0 auto;
        width: 300px;
    }

    .instrucoes{
        margin: 4vh 2vw;
        grid-template-columns: 0.7fr 3fr;
        grid-auto-rows: 50px;
    }

    .instrucoes2{
        display: none;
        margin: 4vh 2vw;
        grid-template-columns: 0.7fr 3fr;
        grid-auto-rows: 50px;
    }

    .guia{
        font-size: 15px;
    }
    .titulo-1, .titulo-2{
        padding: 2vw;
    }


}