html{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    width: auto;
    height: 100%;
}

body{
    margin: 0 auto;
    height: 100vh;
}
h1 {
    margin-top: 0;
    text-align: center;
    padding: 2vh;
    border-bottom: 2px solid black;
    background-color: #25D366;

}

header{
    text-align: center;
}
main{
    margin: 0 auto;
}

input{
    margin: auto;
    display: block;
}

.titulo-1{
    display: none;
    padding: 0.5vw;
    text-align: center;
    margin-bottom: 0;
    margin-top: 5vh;
    border-top: 2px solid black;
    background-color: #25D366;
}

#output, #output2{
    display: none;
    text-align: center;
    list-style-position: inside;
    background-color: #dcf8c6;
    padding: 2vh 0 3vh;
    border-top: 2px solid black;
    margin: 0 auto;
}

.titulo-2{
    display: none;
    margin: 0;
    padding: 0.5vw;
    text-align: center;
    border-top: 2px solid black;
    background-color: #25D366;
}

.ultima-msg{
    text-align: center;
}

.instrucoes{
    display: grid;
    grid-template-columns: 100px 542px;
    grid-auto-rows: 50px;
    margin: 2vh auto;
    justify-content: center;
}

.numero{
    border: 2px solid black;
    border-bottom: 0;
    text-align: center;
    font-size: 40px;
}
.numero:first{
    border-bottom: 2px solid black;
}

.guia{
    font-size: 20px;
    background-color: #ece5dd;
    border: 2px solid black;
    border-left: 0;
    border-bottom: 0;
    padding: 2%;
    text-align: left;
    vertical-align: middle;
}
.guia:first{
    border-bottom: 2px solid black;
}

.guia:last-child{
    border-bottom: 2px solid black;
}

.numero-fim{
    border: 2px solid black;
    text-align: center;
    font-size: 40px;
}



@media (max-width: 500px) {
    main{
        width: 100%;
    }

    header{
        margin: 0 4vw;
        text-align: left;
    }

    .instrucoes{
        margin: 4vh 2vw;
        grid-template-columns: 0.7fr 3fr;
        grid-auto-rows: 47px;
    }

    .guia{
        font-size: 15px;
    }
    .titulo-1, .titulo-2{
        padding: 2vw;
    }
}